@import url('normalize.css');

html {
	height: 100%;
	width: 100%;
	background-color: #00796b;
}
body {
	height: 100%;
	width: 100%;
	display: block;
}
header {
	height: 15%;
	width: 100%;
	color: white;
	display: block;
	box-sizing: border-box;
	background-color: #212121;
	border-bottom: 4px solid cyan;
}
a:link {
	text-decoration: none;
	color: white;
}
a:visited{
	text-decoration: none;
	color: white;
}
a:hover {
	transform: scale(1.1,1.1);
}
#logo {
	width: 35%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	float: left;
	font-family: cooper black;
	font-size: 2vw;
}
#menu {
	display: none;
}
.boton {
	height: 100%;
	width: 18%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	float: right;
	font-family: centaur normal;
	font-size: 1.4vw;
	margin-right: 2%;
}
section {
	height: 70%;
	width: 100%;
	display: block;
}
#texto {
	height: 100%;
	width: 60%;
	display: block;
	float: left;
	box-sizing: border-box;
	padding: 5% 0% 5% 10%;
}
h3 {
	text-align: left;
	font-size: 1.8vw;
	margin: 0;
}
h2 {
	text-align: center;
	font-size: 2.3vw;
}
#parrafo1{
	text-align: justify;
	font-size: 1.4vw;
	margin: 0;
}
#img1 {
	height: 100%;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
}
#img01 {
	box-sizing: border-box;
	padding: 6%;
	width: 80%;
}
footer {
	height: 15%;
	width:100%;
	box-sizing: border-box;
	background-color: #212121;
	border-top: 4px solid cyan;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
footer p {
	color: white;
	font-size: 1.4vw;	
}
/* Contacto */
#pcontacto {
	box-sizing: border-box;
	padding: 5% 8% 2% 8%;
	text-align: justify;
	margin: 0;
}
ul {
	padding-left: 10%;
}
.contacto {
	width: 100%;	
}
ul p {
	margin: 0;
	display: inline-block;
}
section li {
	margin: 2%;
	list-style: none;
}
i {
	font-size: 2vw;
	display: inline-block;
	margin-right: 4%;
}
@media (max-width: 800px) and  (orientation: landscape){
	#texto {
		padding: 5% 0% 5% 8%;
	}
	#parrafo1 {
		font-size: 1.8vw;
	}
}
@media (orientation: portrait){
	header {
		height: 10%;
	}
	section {
		height: 80%;
	}
	footer {
		height: 10%;
	}
	#logo {
		font-size: 3.4vw;
		padding-left: 4%;
	}
	.boton {
		font-size: 3vw;
	}
	#texto {
		height: 40%;
		width: 100%;
		padding: 5%;
		display: block;
	}
	h3 {
		font-size: 3.6vw;
	}
	h2 {
		font-size: 4vw;
	}
	#parrafo1 {
		font-size: 3vw;
	}
	footer p {
		font-size: 3vw;
	}
	#img1 {
		height: 60%;
		width: 100%;
		float: none;
		padding-top: 5%;
	}
	#img01 {
		width: 50%;
		padding:0; 
	}
	i {
		font-size: 4vw;
	}
	section li {
		margin: 8% 0%;
	}
}
@media (max-width: 600px) and  (orientation: portrait){
	#logo {
		font-size: 3.5vw;
			}
	.boton {
		font-size: 3.7vw;
	}
	h3 {
		font-size: 3.8vw;
	}
	h2 {
		font-size: 4.2vw;
	}
	#parrafo1 {
		font-size: 3.7vw;
	}
	footer p {
		font-size: 3.7vw;
	}
}